
<footer>
   
    <div class="social-media">
        <a href="https://www.linkedin.com/in/mursalin-saiyed-5a806b259/" target="_blank" rel="noopener noreferrer" class="icon-link">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/mursalinsaiyed" target="_blank" rel="noopener noreferrer" class="icon-link">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>

</html>