<%- include('partials/header') %>
<main>
  <h1>Hi, I'am <span>Mursalin</span></h1>
  <img src="images/mursalin.jpg" alt="Picture of Mursalin" class="profile-picture">
  <h2>Software Engineering Student</h2>
  <a href="/files/Resume .pdf" class="contact-btn" target="_blank">Resume</a>
</main>
<%- include('partials/footer') %>