<%- include('partials/header') %>
<main>
  <h1>Hi, I'am <span>Mursalin</span></h1>
  <img src="images/Mursalin.jpg" alt="Picture of Mursalin" class="profile-picture">
  <h2>Web Designer</h2>
  <a href="" class="contact-btn">Resume</a>
</main>
<%- include('partials/footer') %>