<%- include('partials/header') %>
<main>
  <h1>Hi, I'am <span>Mursalin</span></h1>
  <img src="images/Mursalin.jpg" alt="Picture of Mursalin" class="profile-picture">
<<<<<<< HEAD
  <h2>Software Engineering Technician</h2>
=======
  <h2>Software Engineering Student</h2>
>>>>>>> 846e15277af3ccd8447a69e64e7ae9eb388d0980
  <a href="" class="contact-btn">Resume</a>
</main>
<%- include('partials/footer') %>