<%- include('partials/header') %>
<main>
  <h1>Hi, I'am <span>Mursalin</span></h1>
  <img src="images/Mursalin.jpg" alt="Picture of Mursalin" class="profile-picture">
<<<<<<< HEAD
  <h2>Software Engineering Technician</h2>
=======
  <h2>Software Engineering Student</h2>
>>>>>>> main
  <a href="" class="contact-btn">Resume</a>
</main>
<%- include('partials/footer') %>