<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - Mursalin</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <img src="images/logo.png" alt="Logo" class="logo">
                <a href="#" class="brand">Portfolio</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services" class="active">Services</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <!-- Services Content -->
        <div class="services clearfix">
        <div class="service-item">
            <img src="images/webdevelopment.jpg" alt="Web Development" class="service-img">
            <div class="service-description">
                <p>Web Development: Crafting responsive and dynamic websites using the latest frameworks and technologies.</p>
            </div>
        </div>
        
        <div class="service-item">
            <img src="images/programming.jpg" alt="General Programming" class="service-img">
            <div class="service-description">
                <p>General Programming: Proficient in C#, Java, HTML5, and more. Offering tailored solutions for various tasks.</p>
            </div>
        </div>
        
        <div class="service-item">
            <img src="images/mobileapps.jpeg" alt="Mobile Apps" class="service-img">
            <div class="service-description">
                <p>Mobile App Development: Designing and developing user-friendly mobile applications for both Android and iOS.</p>
            </div>
        </div>

        <div class="service-item">
            <img src="images/softwaretest.jpg" alt="Mobile Apps" class="service-img">
            <div class="service-description">
                <p>Software Testing: Leveraging meticulous methodologies to guarantee software quality, performance, and reliability by systematically identifying and resolving defects across multiple platforms.</p>
            </div>
        </div>
</div>
        <!-- Footer -->
        <footer>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/mursalin-saiyed-5a806b259/" target="_blank" rel="noopener noreferrer" class="icon-link">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/mursalinsaiyed" target="_blank" rel="noopener noreferrer" class="icon-link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </footer>
    </div>
</body>
</html>
